doctype html(lang='en')
head
    title REGISTER
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    style.
        @media only screen and (max-width: 450px) {
            /* -- If the view port is less than 350px wide (portrait on phone) then display the following styles -- */
            .w3-container textarea {
                width: 70vw !important;
            }
            #infobutton{
                float: left !important;
            }
        }

body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') HOME
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/register-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH

    .w3-display-topmiddle
        .w3-card-4(style='margin-top:90px; margin-bottom:50px; background-color: white;')
            header.w3-container
                h1 REGISTER
                    span.fa.fa-pencil(style='margin-left:10px;')
            form#registerform.w3-container(action="/register-en", method="post")
                label.w3-text
                    b(style='text-decoration:underline;') FIRST NAME
                        sup
                            span.fa.fa-asterisk
                input.w3-input.w3-border(type='text', style="text-transform:uppercase;",name='name', placeholder="WRITE YOUR FIRST NAME HERE" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') LAST NAME
                        sup
                            span.fa.fa-asterisk
                input.w3-input.w3-border(type='text', style="text-transform:uppercase;",name='surname', placeholder="WRITE YOUR LAST NAME HERE" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') GENDER
                        sup
                            span.fa.fa-asterisk
                p
                    input.w3-radio(type='radio', name='gender', value='male' required)
                    label(style='margin-left: 10px;') MALE
                p
                    input.w3-radio(type='radio', name='gender', value='female' required)
                    label(style='margin-left: 10px;') FEMALE
                label.w3-text
                    b(style='text-decoration:underline;') BIRTHDAY
                        sup
                            span.fa.fa-asterisk
                p
                input#datapicker.datepicker-here.w3-input.w3-border(type='text',name='birthday', data-language='en', placeholder="WRITE OR SELECT YOUR BIRTHDAY DATE. THE FORMAT NEEDS TO BE LIKE THIS EXAMPLE: 10/22/1995" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') E-MAIL
                        sup
                            span.fa.fa-asterisk
                p
                input.w3-input.w3-border(type='text', style="text-transform:uppercase",name='email', placeholder="WRITE E-MAIL HERE" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') ABOUT YOU
                textarea.w3-input.w3-border(style='width:50vw; text-transform:uppercase;',name='about',placeholder="WRITE SOMETHING ABOUT YOU HERE")
                label.w3-text
                    b(style='text-decoration:underline;') PASSWORD
                        sup
                            span.fa.fa-asterisk
                p
                .row
                    .col-sm-10
                        input#pass1.w3-input.w3-border(type='password', name='pass1', placeholder="WRITE YOUR PASSWORD HERE" required)
                    .col-sm-2
                        span#pass1span.fa.fa-eye.fa-2x(style='color: rgb(204, 204, 204);' onmouseover="onoverpass1();" onmouseout="onoutpass1();")
                label.w3-text
                    b(style='text-decoration:underline;') REPEAT PASSWORD
                        sup
                            span.fa.fa-asterisk
                p
                .row
                    .col-sm-10
                        input#pass2.w3-input.w3-border(type='password', name='pass2', placeholder="WRITE YOUR PASSWORD HERE AGAIN" required)
                    .col-sm-2
                        span#pass2span.fa.fa-eye.fa-2x(style='color: rgb(204, 204, 204);' onmouseover="onoverpass2();" onmouseout="onoutpass2();")
            footer.w3-container
                button#submitbutton.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; position:relative;') REGISTER   ❯
                button#infobutton.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;position:relative;') INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
    #spinnerbackground
    #spinner
    #infobackground
    #infocard.w3-display-middle
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container(style="background-color: white;")
                p
                | TO HAVE AN ACCOUNT ON THIS PAGE, YOU NEED TO FILL UP THIS PAGE, AND THEN CLICK ON REGISTER BUTTON BELOW.
                p
                | THING TO BE CONSIDERED:
                p
                    | - THE FIELDS THAT HAVE
                    sup
                        span.fa.fa-asterisk
                    |  SYMBOL ARE REQUIRED TO BE REGISTRED ON THIS PAGE.
                P
                    | - THE
                    b  BIRTHDAY DATE
                    |  MUST HAVE THE FORMAT MONTH/DAY/YEAR.
                P
                    | - THE
                    b  EMAIL
                    |  FIELD NEEDS TO BE A REAL EMAIL.
                P
                    | - THE
                    b  PASSWORDS
                    |  HAVE TO BE IDENTICAL, AND HAVE TO BE AT LEAST 8 CHARACTERS.
                P
                    | - IN THE
                    b  PASSWORD FIELDS
                    | , YOU CAN SEE WHAT YOU HAVE WRITTEN PASSING YOUR MOUSE ABOVE THE EYE '
                    span.fa.fa-eye
                    | ' ON THE RIGHT.
                p
                    b ENJOY THE EXPERIENCE!!! :-)
                p
            footer.w3-container.w3-blue
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
    script.

        /*WHEN SUBMIT IS CLICKED*/
        $( "#submitbutton" ).click(function() {
            var form = $("#registerform");
            form.validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    pass1: {
                        required: true,
                        minlength: 8
                    },
                    pass2: {
                        required: true,
                        equalTo: "#pass1"
                    },
                    birthday:{
                        isValidDate: true
                    }
                }
            });

            if(form.valid()) {
                $('#spinnerbackground').css('display', 'block');
                $('#spinner').css('display', 'block');
                form.submit();
            }
        });

        /*TEST VALID DATE*/
        $.validator.addMethod(
                "isValidDate",
                function () {

                    var dateString = $('#datapicker').val();

                    if (!/^\d{1,2}\/\d{1,2}\/\d{4}$/.test(dateString)) return false;

                    //Get Date parts to Integer
                    var parts = dateString.split("/");
                    var day = parseInt(parts[1], 10);
                    var month = parseInt(parts[0], 10);
                    var year = parseInt(parts[2], 10);

                    //Check month and year ranges
                    var actualYear = new Date().getFullYear();
                    if (year < actualYear - 100 || year > actualYear || month <= 0 || month > 12) return false;

                    //Define month days
                    var monthLenght = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

                    //Leap years
                    if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0)) monthLenght[1] = 29;

                    //Check day range
                    return day > 0 && day <= monthLenght[month - 1];
                },
                "Please enter a date in the format mm/dd/yyyy."
        );

        /*SEE PASSWORD FUNCTIONS*/
        function onoverpass1() {
            var obj = document.getElementById('pass1');
            obj.type = "text";
            $('#pass1span').css('color', 'black');
        }

        function onoutpass1() {
            var obj = document.getElementById('pass1');
            obj.type = "password";
            $('#pass1span').css('color', 'rgb(204, 204, 204)');
        }
        function onoverpass2() {
            var obj = document.getElementById('pass2');
            obj.type = "text";
            $('#pass2span').css('color', 'black');
        }

        function onoutpass2() {
            var obj = document.getElementById('pass2');
            obj.type = "password";
            $('#pass2span').css('color', 'rgb(204, 204, 204)');
        }

        /*WHEN INFO IS CLICKED*/
        $( "#infobutton" ).click(function() {
            $('#infobackground').css('display', 'block');
            $('#infocard').css('display', 'block');
        });

        $("#closeinfo").click(function () {
            $('#infobackground').css('display', 'none');
            $('#infocard').css('display', 'none');
        });