.topbar{
    height:70px;
    background-color: #25DA7E;
}

.topbar img{
    margin-top: 5px;
    margin-left: 5px;
}

/*NAVBAR*/
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
.navbar-default {
    background-color: #25DA7E;
    border-color: #E7E7E7;
}

.navbar-right .dropdown ul{
    background-color: #51A078;
}

.navbar-right .dropdown .dropdown-menu li{
    background-color: #51A078;
}

#bs-example-navbar-collapse-1 .navbar-nav li a{
    color:white;
    font-size: 20px;
}

#bs-example-navbar-collapse-1 .navbar-nav li a:hover{
    color:#25DA7E;
    background-color: white;
    font-size: 20px;
}

#bs-example-navbar-collapse-1 .navbar-nav li a:focus{
    color:#25DA7E;
    background-color: white;
    font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/*W3 HEADER CONTAINER*/

header.w3-container{
    color: white;
    background-color: #25DA7E;
}

form.w3-container{
    margin-top:10px;
}

.w3-container label{
    color: #25DA7E;
}

.w3-btn button{
    background-color: #25DA7E;
}