/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');

/*DESIGN*/

body{
    background: #D8FFEB;
}

.topbar{
    height:70px;
    background-color: #25DA7E;
}

.topbar img{
    margin-top: 5px;
    margin-left: 5px;
}

/*NAVBAR*/
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif !important;
}
.navbar-default {
    background-color: #25DA7E;
    border-color: #E7E7E7;
    background: -webkit-linear-gradient(left, #25DA7E , #2D95D2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #25DA7E, #2D95D2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #25DA7E, #2D95D2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #25DA7E , #2D95D2); /* Standard syntax */
}

.navbar-right .dropdown ul{
    background-color: #52E59A;
}

.navbar-right .dropdown .dropdown-menu li{
    background-color: #52E59A;
}

#bs-example-navbar-collapse-1 .navbar-nav li a{
    color:white;
    font-weight: bold;
    font-size: 20px;
}

#bs-example-navbar-collapse-1 .navbar-nav li a:hover{
    color:#25DA7E;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
}

#bs-example-navbar-collapse-1 .navbar-nav li a:focus{
    color:#25DA7E;
    font-weight: bold;
    background-color: white;
    font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/*W3 HEADER CONTAINER*/

header.w3-container{
    color: white;
    background-color: #25DA7E;
}

footer.w3-container{
    background-color: #25DA7E;
}

.w3-container h1{
    font-family: 'Montserrat', sans-serif !important;
}

.w3-container b{
    font-family: 'Raleway', sans-serif !important;
}

.w3-container label{
    font-family: 'Raleway', sans-serif !important;
}

.w3-container input{
    font-family: 'Raleway', sans-serif !important;
}

.w3-container textarea{
    font-family: 'Raleway', sans-serif !important;
}

.w3-container button{
    font-family: 'Raleway', sans-serif !important;
}

form.w3-container{
    margin-top:10px;
}

.w3-container label{
    color: #25DA7E;
}

.w3-container .error {
    text-transform:uppercase;
    color: red;
}

.w3-btn button{
    background-color: #25DA7E;
}

/*SPINNER*/

#spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 16px solid #25DA7E;
    border-right: 16px solid #2D95D2;
    border-bottom: 16px solid #25DA7E;
    border-left: 16px solid #8FF329;
}

#spinnerbackground{
    display: none;
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*INFO*/
#infobackground{
    display: none;
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

#infocard{
    display: none;
}

#closeinfo:hover{
    cursor: pointer;
}

/*DATAPICKER*/
.datepicker--day-name{
    color: #25DA7E !important;
}