doctype html(lang='en')
head
    title POST STORY
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style/dropzone.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    script(type='text/javascript', src='js/materialize.min.js')
    script(src='/js/dropzone.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            span.fa.fa-home
                            |  HOME
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout')
                            span.fa.fa-sign-out
                            |  SIGN OUT
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/register-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH
    a#floatingbutton.btn-floating.btn-large.waves-effect.waves-light
        p INFO
            span.fa.fa-info-circle(style='margin-left:10px;')
    .w3-display-topmiddle
        .w3-card-4(style='margin-top:90px; margin-bottom:50px; background-color: white;')
            header.w3-container
                h1 NEW STORY
                    span.fa.fa-plus-circle(style='margin-left:10px;')
            label.w3-text
                b(style='text-decoration:underline;') IMAGE
            form#imageform.dropzone.w3-container(action="/post-story", method="post", enctype="multipart/form-data")
            form#registerform.w3-container(action="/post-story", method="post", enctype="multipart/form-data")
                label.w3-text
                    b(style='text-decoration:underline;') STORY DESCRIPTION
                textarea.w3-input.w3-border(style='width:50vw; text-transform:uppercase;',name='description',placeholder="WRITE HERE WHAT YOU WANT TO TELL YOUR FRIENDS" required)
                p
                //input#profileimage(name='image', type='file', accept="image/x-png,image/jpeg")
                button#infobutton.w3-btn.w3-padding(type='button', style='margin-top:10px; margin-bottom:10px; float: left;position:relative;')
                    span.fa.fa-info-circle(style='margin-left:10px;')
                    b &nbsp; &nbsp; INFORMATION
                button#submitbutton.w3-btn.w3-padding(type='submit', style='margin-top:10px; margin-bottom:10px; position:relative; float:right;')
                    span.fa.fa-upload
                    b &nbsp; &nbsp; POST STORY
    #spinnerbackground
    #spinner
    #infobackground
    #infocard.w3-display-middle
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container(style="background-color: white;")
                p
                | TO HAVE AN ACCOUNT ON THIS PAGE, YOU NEED TO FILL UP THIS PAGE, AND THEN CLICK ON REGISTER BUTTON BELOW.
                p
                | THING TO BE CONSIDERED:
                p
                    | - THE FIELDS THAT HAVE
                    sup
                        span.fa.fa-asterisk
                    |  SYMBOL ARE REQUIRED TO BE REGISTRED ON THIS PAGE.
                P
                    | - THE
                    b  BIRTHDAY DATE
                    |  MUST HAVE THE FORMAT MONTH/DAY/YEAR.
                P
                    | - THE
                    b  EMAIL
                    |  FIELD NEEDS TO BE A REAL EMAIL.
                P
                    | - THE
                    b  PASSWORDS
                    |  HAVE TO BE IDENTICAL, AND HAVE TO BE AT LEAST 8 CHARACTERS.
                P
                    | - IN THE
                    b  PASSWORD FIELDS
                    | , YOU CAN SEE WHAT YOU HAVE WRITTEN PASSING YOUR MOUSE ABOVE THE EYE '
                    span.fa.fa-eye
                    | ' ON THE RIGHT.
                p
                    b ENJOY THE EXPERIENCE!!! :-)
                p
            footer.w3-container.w3-blue
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
    #errorcard.w3-display-middle
        .w3-card-4
            header.w3-container.w3-red
                h1 ERROR
                    span.fa.fa-exclamation-circle(style='margin-left:10px;')
            .w3-container(style="background-color: white;")
                p
                | THIS EMAIL ALREADY EXISTS IN OUR SYSTEM.
                | PLIS, PUT ANOTHER ONE.
                p
            footer.w3-container.w3-red
                button#closeerror.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
script.
    $("#infobutton").click(function () {
        $('#infobackground').css('display', 'block');
        $('#infocard').css('display', 'block');
    });

    $("#closeinfo").click(function () {
        $('#infobackground').css('display', 'none');
        $('#infocard').css('display', 'none');
    });

    Dropzone.options.imageform = {

        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        maxFiles: 1,
        addRemoveLinks: true,
        init: function () {
            var submitButton = document.querySelector("#submitbutton")
            myDropzone = this; // closure

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue(); // Tell Dropzone to process all queued files.
            });

            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function () {

            });

        }
    };