doctype html(lang='en')
head
    title POST STORY
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/style/icons.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/style/dropzone.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
    script(src='/js/dropzone.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            span.fa.fa-home
                            |  HOME
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout')
                            span.fa.fa-sign-out
                            |  SIGN OUT
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/register-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH
    a#floatingbutton.btn-floating.btn-large.waves-effect.waves-light
        p INFO
            span.fa.fa-info-circle(style='margin-left:10px;')
    .w3-display-topmiddle
        .w3-card-4(style='margin-top:90px; margin-bottom:50px; background-color: white;')
            header.w3-container
                h1 NEW STORY
                    span.fa.fa-plus-circle(style='margin-left:10px;')
            div(style="margin-top:40px !important;margin-left:40px !important;margin-right:40px !important;")
                form#imageform.dropzone.w3-container(action="/post-image", method="post", enctype="multipart/form-data")
                    label.w3-text(style="margin-top:-45px;margin-left:-40px !important;")
                        b(style='text-decoration:underline;') IMAGE
            form#registerform.w3-container(action="/redirect-after-post", method="post", enctype="multipart/form-data")
                label.w3-text
                    b(style='text-decoration:underline;') STORY DESCRIPTION
                textarea#description.w3-input.w3-border(style='width:50vw; text-transform:uppercase;', name='description', placeholder="WRITE HERE WHAT YOU WANT TO TELL YOUR FRIENDS" required)
                p
                button#submitbutton.w3-btn.w3-padding(type='button', style='margin-top:10px; margin-bottom:10px; position:relative; float:right;')
                    span.fa.fa-upload
                    b &nbsp; &nbsp; POST STORY
    #spinnerbackground
    #spinner
    #infobackground
    #infocard.w3-display-middle(style="z-index:10;")
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue.infoclass
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container.infoclass(style="background-color: white;")
                p
                | ON THIS PAGE, YOU CREATE A NEW STORY.
                p
                | TO DO IT, YOU FILL UP THE "STORY DESCRIPTION" FIELD, AND OPTIONALLY, YOU CAN UPLOAD AND IMAGE.
                p
                | TO UPLOAD AN IMAGE YOU ONLY NEED DRAG AND DROP THE IMAGE THAT YOU WANT ON "DROP FILES HERE TO UPLOAD" FIELD OR CLICK THERE AND SELECT THE IMAGE.
                p
                | AFTER IT, CLICK "POST STORY" BUTTON TO CREATE THE STORY.
                p
            footer.w3-container.w3-blue
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
style.

script.

    $("#closeinfo").click(function () {
        $('#infobackground').css('display', 'none');
        $('#infocard').css('display', 'none');
    });

    $("#floatingbutton").click(function () {
        $('#infobackground').css('display', 'block');
        $('#infocard').css('display', 'block');
    });

    Dropzone.options.imageform = {

        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        maxFiles: 1,
        addRemoveLinks: true,
        init: function () {
            var submitButton = document.querySelector("#submitbutton")
            myDropzone = this; // closure

            submitButton.addEventListener("click", function () {
                var form = $("#registerform");
                if(form.valid()) {
                    $('#spinnerbackground').css('display', 'block');
                    $('#spinner').css('display', 'block');
                    myDropzone.processQueue();
                    if (myDropzone.getUploadingFiles().length === 0 && myDropzone.getQueuedFiles().length === 0) {
                        var description = $("#description").val();
                        console.log(description);
                        $.ajax({
                            method: "POST",
                            url: "/post-story/" + description,
                            success: function () {
                                var form = $("#registerform");
                                form.submit();
                            }
                        });
                    }
                }
            });

            myDropzone.on("complete", function(file) {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    var description = $("#description").val();
                    console.log(description);
                    $.ajax({
                        method: "POST",
                        url: "/post-story/" + description,
                        success: function () {
                            var form = $("#registerform");
                            form.submit();
                        }
                    });
                }
            });
        }
    };