doctype html(lang='en')
head
    title Registre
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')

body(style='background-color: #C8FB94;')
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='#') INICI
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='#') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH

    .w3-display-topmiddle
        .w3-card-4(style='margin-top:90px; background-color: white;')
            header.w3-container
                h1 Register
            form#registerform.w3-container(action="/register", method="post")
                label.w3-text
                    b(style='text-decoration:underline;') FIRST NAME
                input.w3-input.w3-border(type='text', style="text-transform:uppercase;",name='name', placeholder="WRITE YOUR FIRST NAME HERE" required)
                label.w3-text
                    b(style='text-decoration:underline;') LAST NAME
                input.w3-input.w3-border(type='text', style="text-transform:uppercase;",name='surname', placeholder="WRITE YOUR LAST NAME HERE" required)
                label.w3-text
                    b(style='text-decoration:underline;') GENDER
                p
                    input.w3-radio(type='radio', name='gender', value='male' required)
                    label(style='margin-left: 10px;') MALE
                p
                    input.w3-radio(type='radio', name='gender', value='female' required)
                    label(style='margin-left: 10px;') FEMALE
                label.w3-text
                    b(style='text-decoration:underline;') BIRTHDAY
                p
                input.datepicker-here.w3-input.w3-border(type='text',name='birthday', data-language='en', placeholder="WRITE OR SELECT YOUR BIRTHDAY DATE LIKE THIS EXEMPLE: 06/12/95" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') E-MAIL
                p
                input.w3-input.w3-border(type='text', style="text-transform:uppercase",name='email', placeholder="WRITE E-MAIL HERE" required)
                label.w3-text
                    b(style='text-decoration:underline;') ABOUT YOU
                textarea.w3-input.w3-border(style='width:50vw; text-transform:uppercase;',name='about',placeholder="WRITE SOMETHING ABOUT YOU HERE" required)
                button#submitbutton.w3-btn.w3-padding(type='submit', style='width:140px; margin-top:10px; margin-bottom:10px;') REGISTER   ❯
    #spinnerbackground
    #spinner

    script.
        $( "#submitbutton" ).click(function() {
            //if($("#registerform").valid()) {
                $('#spinnerbackground').css('display', 'block');
                $('#spinner').css('display', 'block');
            //}
        });