doctype html(lang='en')
head
    title SIGN IN
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')

body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') HOME
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/login-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH

    .w3-display-topmiddle
        .w3-card-4(style='margin-top:90px; margin-bottom:50px; background-color: white;')
            header.w3-container
                h1 SIGN IN
                    span.fa.fa-angle-double-right(style='margin-left:10px;')
            form#registerform.w3-container(action="/login-en", method="post")
                label.w3-text
                    b(style='text-decoration:underline;') EMAIL
                        sup
                            span.fa.fa-asterisk
                input.w3-input.w3-border(type='text', style="text-transform:uppercase; width:50vw;",name='email', placeholder="WRITE E-MAIL HERE" required)
                p
                label.w3-text
                    b(style='text-decoration:underline;') PASSWORD
                        sup
                            span.fa.fa-asterisk
                .row(style='padding-bottom: 20px;')
                    .col-sm-10
                        input#pass1.w3-input.w3-border(type='password', name='pass1', placeholder="WRITE YOUR PASSWORD HERE" required)
                    .col-sm-2
                        span#pass1span.fa.fa-eye.fa-2x(style='color: rgb(204, 204, 204);' onmouseover="onoverpass1();" onmouseout="onoutpass1();")
                button#submitbutton.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px;') SIGN IN   ❯
                button#infobutton.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            footer.w3-container(style='background-color: #A8F658 !important;')
                label.w3-text(style='padding-top:10px;')
                    b(style='text-decoration:underline; color: black;') NEW ON MAKEYOURFRIEND?
                p
                form(action="/register-en")
                    button.w3-btn.w3-padding(type='submit', style='width:155px; margin-top:10px; margin-bottom:10px;') SIGN UP!   ❯
    #spinnerbackground
    #spinner
    #infobackground
    #infocard.w3-display-middle
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container(style="background-color: white;")
                p
                | YOU NEED TO FILL UP THIS PAGE, AND THEN CLICK ON SIGN IN BUTTON BELOW TO ENJOY THE PAGE.
                p
                | THING TO BE CONSIDERED:
                p
                    | - THE FIELDS THAT HAVE
                    sup
                        span.fa.fa-asterisk
                    |  SYMBOL ARE REQUIRED TO BE REGISTRED ON THIS PAGE.
                P
                    | - THE
                    b  EMAIL
                    |  FIELD NEEDS TO BE A REAL EMAIL AND NEEDS TO BE THE MAIL YOU REGISTERED BEFORE.
                P
                    | - AL CAMP DE LA
                    b  CONTRASENYA
                    | , POTS VEURE EL QUE HAS ESCRIT PASSANT EL RATOLÍ PER SOBRE DE L'ULL '
                    span.fa.fa-eye
                    | ' OQUE ES TROBA A LA DRETA.
                p
                    b ENJOY THE EXPERIENCE!!! :-)
                p
            footer.w3-container.w3-blue
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
    #errorcard.w3-display-middle
        .w3-card-4
            header.w3-container.w3-red
                h1 ERROR
                    span.fa.fa-exclamation-circle(style='margin-left:10px;')
            .w3-container(style="background-color: white;")
                p
                | INVALID EMAIL OR PASSWORD.
                p
            footer.w3-container.w3-red
                button#closeerror.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
                    span.fa.fa-close(style='margin-left:10px;')
    if error != null
        script.
            $('#infobackground').css('display', 'block');
            $('#errorcard').css('display', 'block');
script.

   /* var variable = JSON.parse(document.getElementById('variable'));
    alert(variable);*/

    /*WHEN SUBMIT IS CLICKED*/
    $("#submitbutton").click(function () {
        var form = $("#registerform");
        form.validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                pass1: {
                    required: true,
                    minlength: 8
                }
            }
        });

        if (form.valid()) {
            $('#spinnerbackground').css('display', 'block');
            $('#spinner').css('display', 'block');
            form.submit();
        }
    });

    /*SEE PASSWORD FUNCTIONS*/
    function onoverpass1() {
        var obj = document.getElementById('pass1');
        obj.type = "text";
        $('#pass1span').css('color', 'black');
    }

    function onoutpass1() {
        var obj = document.getElementById('pass1');
        obj.type = "password";
        $('#pass1span').css('color', 'rgb(204, 204, 204)');
    }

    /*WHEN INFO IS CLICKED*/
    $("#infobutton").click(function () {
        $('#infobackground').css('display', 'block');
        $('#infocard').css('display', 'block');
    });

    $("#closeinfo").click(function () {
        $('#infobackground').css('display', 'none');
        $('#infocard').css('display', 'none');
    });

    $("#closeerror").click(function () {
        $('#infobackground').css('display', 'none');
        $('#errorcard').css('display', 'none');
    });