doctype html(lang='en')
head
    title PROFILE
    link(rel="shortcut icon" href="/images/logo_v4_100.png")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/style/icons.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='/css/w3.css')
    link(rel='stylesheet', href='/style/datepicker.min.css')
    link(rel='stylesheet', href='/style/dropzone.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/datepicker.min.js')
    script(src='/js/datepicker.en.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.validate.min.js')
    script(src='/js/dropzone.js')
    script(type='text/javascript', src='js/materialize.min.js')
body
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid(style='background-color: rgb(42, 124, 82) important;')
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img(alt="Brand" src="/images/logo_v4_100.png" height='60px;' style='margin-top:5px !important;')
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/')
                            span.fa.fa-home
                            |  HOME
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout')
                            span.fa.fa-sign-out
                            |  SIGN OUT
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            | LANGUAGE
                            span.fa.fa-chevron-down(style='margin-left:10px;')
                        ul.dropdown-menu
                            li
                                a(href='/register-ca') CATALÀ
                            li
                                a(href='#') CASTELLANO
                            li
                                a(href='#') ENGLISH
    a#floatingbutton.btn-floating.btn-large.waves-effect.waves-light
        p INFO
            span.fa.fa-info-circle(style='margin-left:10px;')
    //CONTENT
    .w3-row(style='margin-top:90px;')
        // Blog entries
        .w3-col.l8.s12
            // Blog entry
            .w3-card-4.w3-margin.w3-white
                header.w3-container
                    h3
                        b
                            span.fa.fa-image
                        | &nbsp; PERSONAL IMAGE
                .w3-container(style='margin-top:10px;')
                    .w3-row
                        .w3-col.l4.s12.header-images
                            h4 YOUR IMAGE:
                        .w3-col.l7.s12
                            if user.foto != null
                                div#profileimg.circletag(style="background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;background-image: url("+user.foto+")")
                            else
                                img(src="/images/profile/profile-en.jpg")#profileimg.circletag
                        .w3-col.l1.s12
                    hr
                    .w3-row
                        .w3-col.l4.s12.header-images
                            h4 UPLOAD IMAGE:
                        form#imageform.dropzone.w3-col.l8.s12(action="/upload-profile-image", method="post", enctype="multipart/form-data")
                            //input#profileimage(type='file' required)
                    button#imagebutton.w3-button.w3-padding-large.w3-black.w3-border.w3-right(style='margin-bottom: 15px;',type='button')
                        span.fa.fa-upload
                        b &nbsp; &nbsp; UPLOAD IMAGE
        .w3-col.l4
            // About Card
            .w3-card-2.w3-margin.w3-margin-top.w3-white
                header.w3-container
                    h3
                        b
                            span.fa.fa-file-text
                        | &nbsp; MY DESCRIPTION
                .w3-container(style='margin-top:10px;')
                    h6(style='font-weight: bold !important;') YOUR ACTUAL DESCRIPTION:
                    if user.about != null
                        p(style='text-transform: uppercase;word-wrap: break-word;')= user.about
                    else
                        p(style='text-transform: uppercase; color:silver;') YOU DO NOT HAVE A DESCRIPTION ABOUT YOU.
                    hr
                    h6(style='font-weight: bold !important;') YOUR NEW DESCRIPTION:
                    form#aboutform(action="/upload-profile-about", method="post")
                        textarea.w3-input.w3-border(style='text-transform:uppercase;margin-bottom:20px;',name='about',placeholder="WRITE YOUR NEW DESCRIPTION HERE")
                    button#aboutbutton.w3-button.w3-padding-large.w3-black.w3-border.w3-right(style='margin-bottom: 15px;')
                        span.fa.fa-upload
                        b &nbsp; &nbsp; UPLOAD DESCRIPTION
    #infobackground
    #infocard.w3-display-middle(style="z-index:10;")
        .w3-card-4(style='margin-top:75px !important;')
            header.w3-container.w3-blue.infoclass
                h1 INFORMATION
                    span.fa.fa-info-circle(style='margin-left:10px;')
            .w3-container.infoclass(style="background-color: white;")
                p
                | ON THIS PAGE, YOU CAN EDIT YOUR PERSONAL IMAGE AND YOUR DESCRIPTION.
                p
                | TO UPLOAD YOUR PERSONAL IMAGE, YOU ONLY NEED DRAG AND DROP THE IMAGE THAT YOU WANT ON "DROP FILES HERE TO UPLOAD" FIELD OR CLICK THERE AND SELECT THE IMAGE. AFTER IT, CLICK UPLOAD IMAGE.
                p
                | TO UPLOAD YOUR DESCRIPTION, YOU ONLY NEED TO FILL UP YOUR NEW DESCRIPTION FIELD AND THEN CLICK UPLOAD DESCRIPTION BUTTON.
                p
            footer.w3-container.w3-blue.infoclass
                button#closeinfo.w3-btn.w3-padding(type='button', style='width:155px; margin-top:10px; margin-bottom:10px; float: right;') CLOSE
style.
    .circletag {
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
        width: 200px;
        height: 200px;
        background: #E6E7ED;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border: #2D95D2 solid 8px;
    }

    h3 {
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bold;
    }

    h4 {
        vertical-align: middle;
        height: inherit;
        width: 100%;
        display: table-cell;
        font-weight: bold;
        margin:auto;
        padding-left: 100px;
    }

    .header-images{
        text-align: center;
        height: 230px;
    }

script.

    $("#aboutbutton").click(function () {
        var form = $("#aboutform");
        form.submit();
    });

    $("#imagebutton").click(function () {
        var form = $("#imageform");
        form.submit();
    });

    Dropzone.options.imageform = {

        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        maxFiles: 1,
        addRemoveLinks: true,
        init: function () {
            var submitButton = document.querySelector("#imagebutton")
            myDropzone = this; // closure

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue(); // Tell Dropzone to process all queued files.
            });

            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function () {

            });

        }
    };

    $("#closeinfo").click(function () {
        $('#infobackground').css('display', 'none');
        $('#infocard').css('display', 'none');
    });

    $("#floatingbutton").click(function () {
        $('#infobackground').css('display', 'block');
        $('#infocard').css('display', 'block');
    });
